.button {
  @apply flex
  flex-col
  border
  rounded-lg
  p-3;
  border-color: #ffffff4d;
  min-width: 220px;
  transition: var(--delay);
  &:hover {
    border-color: #ffffff80;
    .icon {
      background-color: var(--blue);
      color: #fff;
      transform: rotate(-45deg);
    }
  }
}
.text {
  @apply font-medium
  text-white
  text-sm
  h-2.5;
}
.icon {
  @apply ml-auto
  w-5
  h-5
  rounded-full
  bg-white
  text-black
  p-1;
  transition: var(--delay);
}
