.button {
  @apply flex
  flex-col
  dv-transition;
  /* Type */
  &.medium {
    @apply p-3
    rounded-lg;
    min-width: 220px;
  }
  &.large {
    @apply p-5
    h-28
    justify-between
    rounded-3xl;
    min-width: 290px;
  }

  /* Variant */
  &.bordered {
    @apply border;
    border-color: var(--soft-grey);
    &:hover {
      border-color: var(--grey);
    }
  }
  &.colored {
    @apply relative
    overflow-hidden;
    background: var(--blue);
  }
  &.gradiend {
    &::before {
      @apply block
      w-full
      h-full
      absolute
      top-full
      left-0;
      content: '';
      background: linear-gradient(180deg, rgba(26, 168, 212, 0), #1aa8d4);
      transition: var(--delay);
    }
    &:hover::before {
      @apply top-0;
    }
  }
}
/* Text */
.text {
  @apply font-medium
  relative;
}
/* Text type */
.large .text {
  @apply h-4;
}
/* Icon */
.icon {
  @apply ml-auto
  w-5
  h-5
  rounded-full
  bg-[var(--white)]
  text-[var(--black)]
  p-1
  dv-transition;
}
.button:hover .icon {
  @apply text-[var(--white)] 
  transform -rotate-45;
}
/* Icon type */
.medium .icon {
  @apply w-5
    h-5
    p-1;
}
.large .icon {
  @apply w-8
    h-8
    p-2;
}
/* Icon variant */
.bordered:hover .icon {
  background-color: var(--blue);
}
.colored:hover .icon {
  @apply bg-[var(--black)];
}
